body
{
    font:13px Tahoma;
    background-color:#EEE;
}
.clear {
    clear:both;
}

#site{
    width:600px;
    margin:0 auto;
     /*para top e bottom o auto não funciona*/
    background-color:#F9F9F9;
    border:1px solid #CCC;
    padding:20px;
    /*espaçamento interno*/
}
h1 {
    margin:0 0 20px 0;
    color: #777;
    text-align: center;
}
.linha {
    margin-bottom:5px;
}
label {
    display:block;
    width:70px;
    padding:9px;
    text-align: right;
    float:left;
}
input {
    padding: 8px 10px;
    margin: 0;
    border: 1px solid #CCC;
    width: 490px;
    display: block;
    float: left;
}
button {
    float: right;
    padding: 7px 15px;
    margin:0;
}
.lblObrigatorio::after {
    content:"*";
    color:red;
}
table {
    margin-top:20px;
    width:100%;
    text-align:center;
    border: 1px solid #DDD;
}
table th,
table td {
    padding:10px;
}
table th {
    background-color:#DDD;
    }
table tbody tr {
    background-color:#F1F1F1;
}
table tbody tr:nth-child(2n+1) {
    background-color:white;
}